
{% extends "layout.html" %}



{% block content %}


<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

  
    <div class="govuk-width-container">
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              
                <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
                <div class="govuk-grid-row">
               
                    <h2 class="govuk-heading-l">Contact the Child Maintenance Employer Payment Team</h2>

               

                    <ul class="govuk-list">
                        <li>Telephone: 0800 232 1961</li>
                        <li>Textphone: 0800 232 1975</li>
                        <li class="govuk-!-margin-top-5"><a href="#" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 171 2345 </li>
                        <li class="govuk-!-margin-top-5"><a href="#" class="govuk-link">Video relay service</a> for British Sign Language (BSL) users (<a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl" class="govuk-link">Check you can use the video relay service</a>)</li>
                        <li class="govuk-!-margin-top-5">Monday to Friday, 8am to 4pm</li>
                    </ul>
                    <p class="govuk-body">
                        <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
                </div>
                </div>
                </section> 
              
            </div>
          </div>
        </main>
      </div>
  </div>  

{% endblock %}
