
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        SED Prototype
      </h1>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
   <a href="company-details/company-details.html">Company details usability testing October 2021</a>
  </li>
  </div>
</div>
{% endblock %}
