
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        SED Prototype
      </h1>
      <h2 class="govuk-heading-m">January 2022 </h2>
      <h2 class="govuk-heading-m">Contact preferences rework</h2>
  
    <a href="v3company-details/company-details.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    View prototype
    </a>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

 <li>Redesign of the contact preferences section</li>
 <li>Added confirmation screens to the end of individual updated details journeys </li>
 <li><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132626972892/Documenting+design+decisions+-+Example">User stories, UR and further information on confluence</a></li>
   </ul>
   <h2 class="govuk-heading-m">Postcode lookup </h2>
   <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

   <li><a href="address/company-details">One address found</li>
     <li><a href="address-multiple/company-details">multiple addresses found</li>
       <li><a href="address-not-found/company-details">No addresses found</li>
   
   
     </ul>



   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">November 2021 </h2>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
         <a href="v2company-details/company-details.html">Company details usability testing November 2021</a>
        </li>
       
         </ul>


<ul class="govuk-list govuk-list--bullet govuk-list--spaced">

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<h2 class="govuk-heading-m">October 2021 </h2>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
   <a href="company-details/company-details.html">Company details usability testing October 2021</a>
  </li>
  <li>
    <a href="messages/index.html">Messages usability testing October 2021</a>
   </li>
   </ul>
  </div>
</div>
{% endblock %}
