
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        SED Prototype
      </h1>
      <a href="v3company-details/company-details.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    View current prototype
    </a>
    


    
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          February 2022 - Welcome pack and Deductions from Earnings letter 
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'><a href="welcome-pack/home.html">View welcome pack and DEO letter</a></p>
 
    </div>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        February 2022 - Company details page redesign
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <p class='govuk-body'><a href="contacts/company-details.html">Updated company details page design</a></p>

  </div>
</div>


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          February 2022 - Contact preferences v1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'><a href="v3company-details/company-details.html">Contact preferences - Email address on the account prototype</a></p>
      <p class='govuk-body'> <a href="no-email/home.html" >Contact preferences - No email address on the account prototype</a></p>
      <p class='govuk-body'><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132626972892/Documenting+design+decisions+-+Example">Contact preferences confluence write up</a></p>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          January 2022 - Postcode lookup journeys
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

        <p class="govuk-body"><a href="/Address/company-details.html">One address found</a></p>
        <p class="govuk-body"><a href="/address-multiple/company-details.html">multiple addresses found</a></p>
        <p class="govuk-body"><a href="/address-not-found/company-details.html">No addresses found</a></p>
        <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132603544373/Postal+Address">Postal address confluence write up</a></p>

        
         </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         November 2021 - Company details v1.1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'><a href="v2company-details/company-details.html">Company details v1.1 usability testing prototype</a>
      </p>
      <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132472963250/Company+Details">Company details confluence write up</a>
      </p> 
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          October 2021 - Company details and messages v1
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'><a href="company-details/company-details.html">Company details usability testing prototype</a>
      </p>
      <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132472963250/Company+Details">Company details confluence write up</a>
      </p> 

      <p class="govuk-body"><a href="messages/index.html">Messages and contact history usability testing prototype</a>
      </p>
      <p class="govuk-body"><a href="https://dwpdigital.atlassian.net/wiki/spaces/SEDG/pages/132470800432/Messages+and+Contact+History">Messages and contact history confluence write up</a>
      </p> 
  
    </div>
  </div>
</div>
{% endblock %}
